__pycache__/
*.py[cod]
*.so
.env/
.venv/
venv/
ENV/
env/
.vscode/
*.log
*.png
.bash_history
debugpy_info.json
component-detection-pip-report.json
node_modules/
*.ipynb_checkpoints
.mypy_cache/
.tox/
.pytest_cache/